#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk


tarball:
	git archive HEAD -o ../fail2ban-subnet_$(DEB_VERSION_UPSTREAM).orig.tar.gz

.PHONY: tarball

%:
	dh $@

override_dh_auto_build:
	# nothing to build

override_dh_auto_test:
	./tests/runner
